#home
{
    padding-top: 3.188em;
}
#home .ui-header .ui-title
{
    font-size: 30px;
    margin: 7px 15px 7px;
    text-align: left;
}
#home .ui-header .ui-btn
{
    margin-top: 4px;
}
#item-list li
{
    moz-transition: background 0.25s ease-in-out;
    ms-transition: background 0.25s ease-in-out;
    o-transition: background 0.25s ease-in-out;
    transition: background 0.25s ease-in-out;
    webkit-transition: background 0.25s ease-in-out;
}
#item-list li.current
{
    background: #FFFFFF !important;
}
#item-list .ui-li .delete
{
    background: #333;
    background-clip: padding-box;
    background-image: linear-gradient( #ff3333 , #aa1111 );
    background-image: -moz-linear-gradient( #ff3333 , #aa1111 );
    background-image: -ms-linear-gradient( #ff3333 , #aa1111 );
    background-image: -o-linear-gradient( #ff3333 , #aa1111 );
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ff3333),to(#aa1111));
    background-image: -webkit-linear-gradient( #ff3333 , #aa1111 );
    border: 1px solid #ff3333;
    border-image: initial;
    border-radius: 1em;
    box-shadow: 0 1px 0 rgba(255,255,255,.3);
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-top: 3px;
    moz-background-clip: padding;
    moz-border-radius: 1em;
    moz-box-shadow: 0 1px 0 rgba(255,255,255,.3);
    moz-box-shadow: 0 1px 4px rgba(0,0,0,.3);
    padding: 0;
    position: absolute;
    right: 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px black;
    top: .4em;
    webkit-background-clip: padding-box;
    webkit-border-radius: 1em;
    webkit-box-shadow: 0 1px 0 rgba(255,255,255,.3);
    webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
}
.delete .inner
{
    background-clip: padding-box;
    border-color: rgba(255, 255, 255, .3);
    border-radius: 1em;
    border-top: 1px solid white;
    color: white;
    cursor: pointer;
    display: block;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    moz-background-clip: padding;
    moz-border-radius: 1em;
    overflow: hidden;
    padding: .4em 8px .5em;
    padding-left: 27px;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: 0 -1px 1px black;
    webkit-background-clip: padding-box;
    webkit-border-radius: 1em;
    white-space: nowrap;
    zoom: 1;
}
.delete .inner .text
{
    color: white;
    cursor: pointer;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    position: relative;
    text-align: center;
    text-shadow: 0 -1px 1px black;
    white-space: nowrap;
    z-index: 1;
}
.delete .inner .icon
{
    background: #666;
    background: rgba(0, 0, 0, .4);
    /*background-image: url(http://code.jquery.com/mobile/1.0/images/icons-18-white.png);*/
    background-image: url(../img/icons-18-white.png);
    background-position: -72px 50%;
    background-repeat: no-repeat;
    border-radius: 9px;
    box-shadow: 0 1px 0 rgba(255,255,255,.4);
    color: white;
    cursor: pointer;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 18px;
    left: 4px;
    margin-top: -9px;
    moz-border-radius: 9px;
    moz-box-shadow: 0 1px 0 rgba(255,255,255,.4);
    position: absolute;
    text-align: center;
    text-shadow: 0 -1px 1px black;
    top: 50%;
    webkit-border-radius: 9px;
    webkit-box-shadow: 0 1px 0 rgba(255,255,255,.4);
    white-space: nowrap;
    width: 18px;
}
.ui-li-static.ui-li
{
    padding: 1em 15px 1em 15px;
}
.block
{
    height: 400px;
    width: 250px;
}